<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
  </head>
  <body>
    <div class="nav">
      <div>
        <ul
          class="flex space-x-6 text-4xl text-center justify-center border-b-2 border-gray-500 pb-2"
        >
          <div class="p-2 hover:bg-blue-200">Home</div>
          <div class="p-2 hover:bg-blue-200">Features</div>
          <div class="p-2 hover:bg-blue-200">Pricings</div>
        </ul>
      </div>
    </div>
  </body>
</html>
