<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
  </head>
  <body class="bg-[url('/images/bgFields.jpeg')] bg-cover bg-no-repeat">
    <%- include("./partials/header.ejs")%>
    <div
      class="mx-auto mt-10 h-[40vh] w-[40vw] rounded-xl bg-gray-200 bg-opacity-30"
    >
      <div class="flex justify-center">hello</div>
    </div>
  </body>
</html>
