<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/output.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
  </head>
  <body
    class="z-[1] min-h-[100vh] bg-[url('/images/bgFields.jpeg')] bg-cover bg-no-repeat font-body"
  >
    <%- include("./partials/header.ejs")%> <%- include("./partials/hero.ejs")%>
    <%-include("./partials/search.ejs")%> <%- include("./partials/footer.ejs")%>
  </body>
</html>
